body, html {
	width: 100%;
	height: 100%;
}

ul{
	width : 100%;
}


h1 {
	text-align: center;
}

a{
	color: white;
}

.container {
	width: 100%;
	height: 100%;
}

#map-container{
	float: left;
	height: 50%;
	width: 40%;
}
.jvectormap-container{
	height: 50%;
	width: 40%;
}

#chart-container{
	float: left;
	width: 60%;
}
#myChart{
	height: 600px;
}



